In [1]:
import pandas as pd

## Desafio 1 - Importação de arquivo CSV

Será necessário fazer a leitura desse arquivo CSV, porém ele apresenta alguns padrões diferentes que devem ser tratados.

**Importante: analise cuidadosamente o arquivo a cada etapa para entender o que falta.**

In [4]:
path_dados_sus = 'in/dados_sus.csv'

In [32]:
try:
    pd.read_csv('in/dados_sus.csv')
except UnicodeDecodeError as e:
    print(e)

'utf-8' codec can't decode byte 0xe7 in position 56: invalid continuation byte

Primeiramente, o encoder do arquivo é diferente, usaremos a lib `chardet` para esse trabalho.

In [35]:
from chardet import detect

def get_file_encoding():
    with open(path_dados_sus, 'rb') as file:
        return detect(file.read())['encoding']

encoding = get_file_encoding()

In [41]:
dados_sus = pd.read_csv('in/dados_sus.csv', encoding=encoding, skiprows=5, sep=';', skipfooter=10, engine='python')
dados_sus.head()

,Acre,"902416,00","1497206,26","1794028,48","1730469,42","1819443,92","1828496,00","2511754,59","2089107,14","2275708,53",...,"3915193,20","3640142,82","3391242,21","4044321,44","3276590,10","3696997,31","3715723,12","3538427,92","4077045,92","450048530,47"
0,Amazonas,"4735529,42","7118990,57","8196635,49","8259378,42","7831399,90","8477273,62","9368858,72","9352532,70","9363099,35",...,"19769460,14","18059931,43","17841015,63","16408315,10","19895617,91","17765167,69","21430289,17","25917134,55","22032176,22","1917247936,05"
1,Roraima,"657889,53","777939,31","718688,03","839994,39","862347,96","832440,66","996693,09","894271,18","910424,17",...,"3015488,30","2826486,18","2928043,91","3090313,73","3621031,05","3454460,94","3266928,47","3519773,73","3985530,08","328876965,09"
2,Pará,"18864744,11","19553758,20","21937342,70","20842829,69","23249952,88","23240687,56","24002223,56","23341218,03","25172261,32",...,"40804126,43","44385715,88","36820249,47","36965931,34","39004315,80","38015145,79","38354682,46","37688314,23","33276392,89","4705309002,29"
3,Amapá,"1120973,34","1268740,33","974651,24","1141137,32","866346,18","1440978,95","1426659,48","1475551,38","1651341,43",...,"3253399,45","2946398,44","2416019,23","2203732,04","2218532,26","2566919,60","2802886,34","2817849,31","3188210,98","309860092,59"
4,Tocantins,"3441592,69","4985688,85","6205612,60","4984482,09","5511002,46","4927934,22","5445602,28","5413710,38","5596669,50",...,"9155572,36","8390267,72","8729632,49","7770885,66","527840,46","675277,05","419553,49","319160,87","1357751,33","1020028272,64"

### Explicação:

* `encoding='ISO-8859-1'`: tipo de codificação dos caracteres do arquivo. Neste caso, é a codificação ISO-8859-1 que é comum em arquivos de língua portuguesa.
* `sep=';'`: separador dos valores no arquivo. Neste caso, é o ponto-e-vírgula (;).
* `skiprows=3`: indica que as três primeiras linhas do arquivo devem ser ignoradas, pois não contêm dados relevantes.
* `skipfooter = 10`: indica que as dez últimas linhas do arquivo devem ser ignoradas, pois não contêm dados relevantes.
* `engine='python'`: o motor usado para ler o arquivo é o Python. Isso é necessário quando se usa o parâmetro skipfooter, pois o motor padrão não suporta essa opção.