# Desafio 1: utilizando parâmetros do json_normalize

Ao normalizar o objeto JSON durante a aula passamos simplesmente `pd.json_normalize(<dados>)` mas o método json_normalize possui diversos parâmetros para trabalhar com estruturas de dados mais complexas.

Você recebeu a tarefa de normalizar o seguinte arquivo JSON chamado “informacoes.json” referente a algumas informações de identificação de um cliente.

In [1]:
import pandas as pd
from json import load

In [7]:
with open('in/informacoes.json') as f:
    json = load(f)

pd.json_normalize(json, record_path='enderecos', meta=['nome', 'idade'])

       tipo    rua  numero          cidade  nome idade
0      casa  Rua A     123       São Paulo  João    28
1  trabalho  Rua B     456  Rio de Janeiro  João    28